***1]FOR LOOP USING PRINT THE 1 TO 10 NUMBERS AND PATTERN PROGRAMS,RANGE FUNCTION,BASIC LIST PROGRAMS IN PYTHON***

***2] What is For Loop in python
<--A for loop in Python is used to repeat a block of code for each item in a sequence (like a list, tuple, string, or range).

***Syntax***
for variable in sequence:
    # code to execute

***Simple Example***
for i in range(5):
    print(i)


***Output:***

0
1
2
3
4

***Example with a List***
fruits = ["apple", "banana", "mango"]

for fruit in fruits:
    print(fruit)


***Output:***

apple
banana
mango

***Example with a String***
for ch in "Python":
    print(ch)


***Output:***

P
y
t
h
o
n

for loop with if condition
for i in range(1, 6):
    if i % 2 == 0:
        print(i)


***Output:***

2
4

***Key Points***

for loop is used when the number of iterations is known

Works with list, tuple, string, range

Easy and readable compared to while loop

In [1]:
#for loop statement
for i in "datamites":
    print(i)

d
a
t
a
m
i
t
e
s

In [15]:
for num in range(1,11):
    print(num)
    
print("completed")

1
2
3
4
5
6
7
8
9
10
completed

In [14]:
#range
range(1,11,1)

range(1, 11)

In [4]:
list(range(1,11,1))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

print multiplication table of user given number

In [17]:
#for loop using multiplication table 
n=int(input("enter the number"))
for i in range(1,11):
    print(n*i)

enter the number 5

5
10
15
20
25
30
35
40
45
50

In [25]:
#for loop using multiplication table 
n=int(input("enter the number"))
for i in range(1,11):
    print(n*i)

enter the number 60

60
120
180
240
300
360
420
480
540
600

In [31]:
# print table of 11 to 20 all numbers
n11=list(range(11,21))
n12=list(range(1,11))

for i in n11:
    for j in n12:
        print(i*j,end='\t')
    print()

11	22	33	44	55	66	77	88	99	110
12	24	36	48	60	72	84	96	108	120
13	26	39	52	65	78	91	104	117	130
14	28	42	56	70	84	98	112	126	140
15	30	45	60	75	90	105	120	135	150
16	32	48	64	80	96	112	128	144	160
17	34	51	68	85	102	119	136	153	170
18	36	54	72	90	108	126	144	162	180
19	38	57	76	95	114	133	152	171	190
20	40	60	80	100	120	140	160	180	200

In [63]:
esum=0
osum=0
total=0
for i in range(1,11):
    if i &2==0:
        esum+=i
    else:
        osum+=i
    total+=i
print(f"sum of all odd number{esum} \nsum of all number {osum} \nsum of all number from 1 to 10 {total}")

sum of all odd number27
sum of all number 28
sum of all number from 1 to 10 55

In [64]:
#print fibonacci series e.g 0,1,1,2,3,5,8,13,21,34,55,

n1=0
n2=1
print(n1,end=',')
print(n2,end=',')
for i in range(1,10):
    n3=n1+n2
    print(n3,end=',')
    n1,n2=n2,n3

0,1,1,2,3,5,8,13,21,34,55,

In [68]:
num=8 #find the prime number using for loop 
for i in range(2,num):
    if num&i==0:
        print("not prime")
        break
    else:
        print("prime")

not prime

In [5]:
for i in range(1,11):
    if i==6:
        break
    else:
        print("i")

i
i
i
i
i

***patterns program using for loop***

In [89]:
for i in range(1,5):
        print('*'*i)

*
**
***
****

In [92]:
n='#'
a='&'
for i in range(1,5):
        print(n*i)
        print(a*i)

#
&
##
&&
###
&&&
####
&&&&

In [102]:
a='1'
b='2,2'
c='3,3,3'
d='4,4,4,4'
e='5,5,5,5,5'
for i in range(1,2):
    print(a*i)
    print(b*i)
    print(c*i)
    print(d*i)
    print(e*i)

1
2,2
3,3,3
4,4,4,4
5,5,5,5,5

In [104]:
a='a'
b='b,b'
c='c,c,c'
d='d,d,d,d'
e='e,e,e,e,e'
for i in range(1,2):
    print(a*i)
    print(b*i)
    print(c*i)
    print(d*i)
    print(e*i)

a
b,b
c,c,c
d,d,d,d
e,e,e,e,e

In [105]:
a='R'
b='U,S'
c='H,I,K'
d='E,S,H,P'
e='A,T,I,L,@'
for i in range(1,2):
    print(a*i)
    print(b*i)
    print(c*i)
    print(d*i)
    print(e*i)

R
U,S
H,I,K
E,S,H,P
A,T,I,L,@

In [10]:
a='R,u,s,h,i,k,e,s,h'
b='imandar'
c='patil'
d='parola'
e='jalgaon'

for i in range(1,2):
    print(a*i)
    print(b*i)
    print(c*i)
    print(d*i)
    print(e*i)

R,u,s,h,i,k,e,s,h
imandar
patil
parola
jalgaon

In [22]:
a='Rushikesh imandar patil'
b='nikita Nandkishor sonwane'
c='Aadesh baburav mundha'
d='keshav varuba waghmode'
e='sakshi kailas gaikwad'

for i in range(1,2):
    print(a*i)
    print(b*i)
    print(c*i)
    print(d*i)
    print(e*i)

Rushikesh imandar patil
nikita Nandkishor sonwane
Aadesh baburav mundha
keshav varuba waghmode
sakshi kailas gaikwad

In [5]:
for i in 'Rushikesh imandar patil ':
    print(i)

R
u
s
h
i
k
e
s
h

i
m
a
n
d
a
r

p
a
t
i
l

In [1]:
#list in for loop
li = ['mango','apple','grapes','orange']

In [2]:
for i in li:
    print(i)

mango
apple
grapes
orange

In [4]:
l1 =['orange','black','white']
l2 =['chair','book','laptop']

In [5]:
for i in l1: #print the colur for marge using for loop
    for j in l2:
        print(i,j)

orange chair
orange book
orange laptop
black chair
black book
black laptop
white chair
white book
white laptop

In [9]:
li=['rushikesh','nikita','aadesh','keshav','sakshi']

In [12]:
for i in l1:#print the colur using for loop 
    print(i)

orange
black
white

In [7]:
l1=['rushikesh','keshav','Aadesh','nikita','sakshi']
l1

['rushikesh', 'keshav', 'Aadesh', 'nikita', 'sakshi']